/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


} */

.app {
  display: flex;
  width: 90%;
  margin: 0 auto;
  /* background-color: #ddd; */
  flex-direction: column;
  min-height: 100vh;
  color: #222;
}


header {
  flex-basis: 30vh;
  position: relative;
  overflow: hidden;
}


main {


  padding: 30px 0;
  /* background-color: #555; */
  flex-grow: 1;
  display: flex;

}

aside {
  min-width: 240px;
  /* background-color: #999; */
}

section.page {
  flex-grow: 1;
  /* background-color: #444; */
}

footer {

  background-color: #000;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}